* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: end;
    gap: 2rem;
    width: 100%;
    margin-right: 50px;
}

button {
    width: 100px;
    font-size: 3rem;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.won {
    background-color: green;
}

.hero {
    width: 100%;
    height: 100%;
    display: flex;
}

.call_place {
    width: 35%;
}

.focus {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop_menu {
    display: none;
}

.show {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    right: 3rem;
    top: 10rem;
    padding: 3rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.9);
}

.show span {
    font-size: 2.8rem;
    cursor: pointer;
    padding: 0.5rem;
}

.show span:hover {
    background-color: #2B74DA;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;    
}

.call_place {
    border: 1px solid #8e8c8c;
}

.frame {
    width: 80%;
    display: none;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    border: 1px solid #8e8c8c;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.9);
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #fff;
    position: absolute;
    top: 10rem;
    right: 15rem;
    z-index: 100;
}

.frame_show {
    display: flex;
}

.frame_head {
    display: flex;
    justify-content: space-between;
}

.frame_head p {
    font-size: 3rem;
}

.frame_head span {
    font-size: 3rem;
    cursor: pointer;
    padding: 0.5rem;
    position: absolute;
    top: 2rem;
    right: 6rem;
    color: #8e8c8c;
}

.frame_body {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.frame_box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    border: 1px solid #8e8c8c;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.9);
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #fff;
}

.frame_box h2 {
    font-size: 2rem;
}

.frame_box input {
    padding: 0.5rem;
}

.input_box {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

input {
    border-radius: 0.5rem;
    border: 1px solid #8e8c8c;
}

.name {
    width: 47%;
}

.noname {
    width: 100%;
}

select {
    border-radius: 0.5rem;
    border: 1px solid #8e8c8c;
    padding: 0.5rem;
}

option {
    padding: 5rem;
}

textarea {
    border-radius: 0.5rem;
    border: 1px solid #8e8c8c;
    padding: 0.5rem;
}

.bigger_input{
    width: 43rem;
    resize: none;
    height: 10rem;
    padding: 1rem;
}

.details {
    display: flex;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

/* display: none; */
.details_info {
    display: flex;
    gap: 5rem;
    padding-left: 2rem;
}

.details_key {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.details_key p, span {
    font-size: 2rem;
}

.keyOf {
    display: flex;
    gap: 2rem;
}